body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.letter {
  display: inline-block;
  width: 40px; 
  height: 40px; 
  line-height: 40px; 
  text-align: center;
  border: 1px solid #ddd;
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.letter.gray {
  background-color: #d8d8d8;
  color: #fff; 
}

.letter.green {
  background-color: #6aaa64;
  color: #fff;
}

.letter.yellow {
  background-color: #c9b458; 
  color: #fff;
}
